.sidebar{
    flex: 1;
    position: sticky;
    top: 53px;
    height: calc(100vh - 53);
}
.sidebarWrapper{
    padding: 20px;
    background-color: rgb(251,251,251);
}
.sidebarTitle{
    font-size: 13px;
    color: lightgray;
}
.sidebarList{
    list-style: none;
    padding: 5px;
}
.sidebarListItem{
    padding: 7px;
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    cursor: pointer;
    border-radius: 10px;
}
.link{
    text-decoration: none;
    color: inherit;
}
.sidebarListItem.active,.sidebarListItem:hover{
   background-color: rgb(228, 228, 250); 
}
.sidebarIcon{
    margin-right: 7px;
    font-size: 20px !important;
}